/*overview wishlist order-history tab*/

.tabs-main{
	padding: 0 110px;
	margin: 50px 0 80px 0;
}
.tabs-main-inner-tab-inner{
	text-align: center;
}
.tabs-main-inner-tab-inner a{
	color: #000;
}
.tabs-main-inner-tab-inner a:hover,.tabs-main-inner-tab-inner a:active,.tabs-main-inner-tab-inner a:focus{
	color: #000;
	text-decoration: none;
}
.tabs-main-inner-tab-inner img{
	height: 70px;
	width: 70px;
	margin: auto;
}
.tabs-main-inner-tab-inner a h2{
	font-weight: 300;
	font-size: 28px;
}
.tabs-main-inner-tab-inner a.active h2{
	font-weight: 600;
}
.tabs-main-inner-tab-inner a.active p{
	font-weight: 600;
}
.hr-seperater hr{
	border-top: 2px solid #ddd;
    margin-bottom: 30px;
    margin-top: 0px;
}

/*media query*/
@media screen and (max-width: 767px){
    .tabs-main{
        padding: 0 30px;
    }
    .tabs-main-inner-tab-inner a h2{
        font-size: 18px;
    }
    .tabs-main-inner-tab-inner a p{
    	font-size: 12px;
    }
    .tabs-main-inner-tab{
    	padding: 0 5px;
    }
    .tabs-main-inner-tab-inner img{
    	height: 40px;
    	width: 40px;
    }
} 


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .tabs-main{
        padding: 0 30px;
    }
}