.account-login-tab{
	margin: 50px 0;
}
.account-login-tab-inner{
	border: 2px solid #ddd;
    padding: 25px 25px 50px 25px;
}
.sign-in-tab{
    width: 40%;
    margin-right: 10%;
    height: 530px;
	border: 2px solid #ddd;
    padding: 37px;
}
.sign-in-tab h4{
	text-align: center;
}
.sign-up-tab{
    width: 40%;
    margin-left: 10%;
    height: 530px;
    border: 2px solid #ddd;
    padding: 37px;
}
.sign-up-tab h4{
	text-align: center;
}
.remember-tab .checkbox label input{
    height: 16px;
    width: 16px;
    margin-top: 0;
}
.sign-in-tab-inputs{
	margin-top: 25px;
}
.forget-pass-tab{
    text-align: right;
	padding: 10px 0;
}
.login-btn-tab{
	margin-top: 25px;
}
.sign-up-input-tab{
	margin-top: 25px;
}
.create-account-btn{
	margin-top: 25px;
}
.account-login-head h4{
    margin-bottom: 0;
}
.account-login-head hr{
	border: 2px solid #ff0000;
    opacity: 1;
    width: 10%;
    margin-top: 10px;
}
.sign-in-tab hr, .sign-up-tab hr{
	border: 2px solid #ff0000;
    opacity: 1;
    width: 60%;
    margin-top: 10px;
}

/*sign in info and billing address tab*/

.after-login-left-tab{
	border: 2px solid #ddd;
    padding: 25px;
    height: 220px;
}
.after-login-tab-left-head .edit-btn{
	background: transparent;
    border: 0;
    font-weight: 500;
    outline: none;
    margin: 10px 0;
}
.after-login-info{
    margin-top: 10px;
}
.after-login-info a{
	font-weight: 600;
	color: #000;
}
.after-login-info a:hover,.after-login-info a:active,.after-login-info a:focus{
	text-decoration: none;
}
.after-login-info ul li{
	list-style-type: none;
}

.after-login-right-tab{
	border: 2px solid #ddd;
    padding: 25px;
    height: 220px;
}
.after-login-tab-right-head .edit-btn{
	background: transparent;
    border: 0;
    font-weight: 500;
    outline: none;
    margin: 10px 0;
}



/*update profile modal*/

#update-detail-modal .modal-content{
	border-radius: 0;
    margin-top: 16%;
}
#update-detail-modal .modal-dialog{
	width: 50%;
}
#update-detail-modal .modal-content .modal-header{
	text-align: center;
	padding: 25px;
}
#update-detail-modal .modal-content .modal-body .row{
	margin: 15px;
}
#update-detail-modal .modal-content .modal-footer{
	text-align: center;
	padding: 25px;
}
/*end*/


/*update address modal*/

#update-address-modal .modal-content{
	border-radius: 0;
    margin-top: 8%;
}
#update-address-modal .modal-dialog{
	width: 60%;
}
#update-address-modal .modal-content .modal-header{
	text-align: center;
	padding: 25px;
}
#update-address-modal .modal-content .modal-body .row{
	margin: 15px;
}
#update-address-modal .modal-content .modal-footer{
	text-align: center;
	padding: 25px;
}



@media screen and (max-width: 767px){
    .sign-in-tab,.sign-up-tab{
        width: 100%;
    }
    .sign-in-tab{
        height: auto;
        padding: 20px 20px 40px 20px;
    }
    .sign-up-tab{
        height: auto;
        margin-top: 30px;
        margin-left: 0px;
        padding: 20px 20px 40px 20px;
    }
    .account-login-tab{
        padding: 0;
    }
    .after-login-tab{
        padding: 0;
    }
    .after-login-tab .no-pad-l{
        padding-right: 0;
    }
    .after-login-tab .no-pad-r{
        padding-left: 0;
    }
    .after-login-right-tab{
        margin-top: 20px;
    }
    .after-login-info ul{
        padding-inline-start:20px; 
    }
    #update-detail-modal .modal-dialog, #update-address-modal .modal-dialog{
        width: auto;
    }
    .login-btn-tab {
        margin-top: 10px;
    }
    .create-account-btn{
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .sign-in-tab {
        width: 45%;
        margin-right: 5%;
    }
    .sign-up-tab{
        width: 45%;
        margin-left: 5%;
    }
    #update-detail-modal .modal-dialog, #update-address-modal .modal-dialog {
        width: 70%;
    }
}
