.products-main-tab{
    margin-top: 50px;
    padding: 0 55px;
    margin-bottom: 50px;
}
.list-btn{
    margin-left: 20px;  
}
.sorting-btn{
    width: auto;
    margin: 0;
    border: 2px solid #ddd;
    padding-left: 5px;
}
.product-list-tab-main{
    margin: 30px 0; 
}
.product-list-tab-main-inner  .product-tab{
    margin-bottom: 30px;
}
.price-min{
    margin-left: -10px;
    width: 50px;
    border: 0;
    font-size: 16px;
    background-color: #fff;
}
.price-max{
    width: 50px;
    border: 0;
    font-size: 16px;
    background-color: #fff;
    margin-left: 20px;
}
.filter-tab{
    border: 2px solid #ddd;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.filter-tab h4{
  margin-bottom: 15px;
}
.filter-tab h4::after{
    height: 3px;
    width: 30%;
    background-color: #ff0000;
    content: '';
    position: absolute;
    left: 15px;
    top: 50px;
}
.filter-tab .checkbox label{
  font-size: 16px;
  padding-left: 25px;
}
.filter-tab .checkbox label input{
  height: 15px;
  width: 15px;  
}
.list-product-tab-bottom{
  display: none;
}
.list-product-tab-bottom a{
  color: #000;
}
.list-product-tab-bottom a:hover,.list-product-tab-bottom a:active,.list-product-tab-bottom a:focus{
    text-decoration: none;
    color: #000;
}
.list-product-tab-bottom a h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.list-product-tab-bottom a .description{
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}
.list-product-tab-bottom a .price{
    font-size: 20px;
    font-weight: 600;
}
.product-filter-tab{
    margin-top: 80px;
}



/*range slider slider*/

.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #ddd;
}
.price-range-slider{
  padding: 10px;
  margin-top: 15px;
}
/*.ui-slider .ui-slider-range{
  border:1px solid #000 !important;
}*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background-color: #fff;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  border-radius: 0%;
  border-color: #000 !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: none;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
  height: 1.4em;
}
.ui-slider-horizontal {
  height: 0.4em;
  border: 0;
  margin-bottom: 30px;
  background: #f1f1f1;
}
.b {
    font-weight: 500;
    text-align: left;
    display: inline-block;
    color: #000;
    border-radius: 3px;
    min-width: 200px;
    transition: all 0.3s;
    font-size: 16px;
}
.b:hover {
  background-color: #00b599;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active {
  border-color: #333;
  border-width: 1px;
  height: 1.4em;
  width: 1.2em;
  background-color: #ddd;
}
.ui-state-hover:hover,
.ui-widget-content .ui-state-hover:hover,
.ui-widget-header .ui-state-hover:hover,
.ui-state-focus:hover,
.ui-widget-content .ui-state-focus:hover,
.ui-widget-header .ui-state-focus:hover,
.ui-state-active:hover,
.ui-state-hover:focus,
.ui-widget-content .ui-state-hover:focus,
.ui-widget-header .ui-state-hover:focus,
.ui-state-focus:focus,
.ui-widget-content .ui-state-focus:focus,
.ui-widget-header .ui-state-focus:focus,
.ui-state-active:focus,
.ui-state-hover:active,
.ui-widget-content .ui-state-hover:active,
.ui-widget-header .ui-state-hover:active,
.ui-state-focus:active,
.ui-widget-content .ui-state-focus:active,
.ui-widget-header .ui-state-focus:active,
.ui-state-active:active {
  background-color: #ddd;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border-color: #a3a3a3;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ddd;
  outline: 0;
}
.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover,
.ui-state-default:focus,
.ui-widget-content .ui-state-default:focus,
.ui-widget-header .ui-state-default:focus,
.ui-state-default:active,
.ui-widget-content .ui-state-default:active,
.ui-widget-header .ui-state-default:active {
  outline: 0;
  background-color: #ddd;
  border-color: #333;
}

.ui-state-default:hover:active,
.ui-widget-content .ui-state-default:hover:active,
.ui-widget-header .ui-state-default:hover:active {
  background-color: #ddd;
}
@font-face {
  font-family: 'AbakuTLSymSansRegular';
  src: url('abakutlsymsans/abakutlsymsans.eot');
  src: url('abakutlsymsans/abakutlsymsans.eot?#iefix') format('embedded-opentype'), url('abakutlsymsans/abakutlsymsans.woff') format('woff'), url('abakutlsymsans.ttf') format('truetype'), url('abakutlsymsans/abakutlsymsans.svg#AbakuTLSymSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.current-time {
  display: block;
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.current-time::after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  background: #FF6E40;
  transition: all 0.15s ease;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 20px 20px 3px 20px;
  z-index: -1;
  top: 0;
}
.actual-time {
  color: white;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
  transition: all 0.15s ease;
}
.tooltip {
  margin-top: -53px;
  margin-left: -12px;
  cursor: pointer;
}
.tl:before {
  font-family: "AbakuTLSymSansRegular", serif;
  font-size: 14px;
  content: "t";
  padding-right: 5px;
}


/*media queries*/
@media screen and (max-width: 767px){
    .products-main-tab{
        padding: 0px;
        margin-bottom: 0;
    }
    /*filter tab*/
    .product-filter-tab{
        position: absolute;
        z-index: 10000000;;
        background: #ddd;
        top: 62px;
        width: calc(100% - 30px);
        margin-top: 0px;
        left: -100%;
        padding-bottom: 15%;
    }
    .ui-widget-header{
        background: #333; 
    }
    .filter-tab{
        margin-bottom: 0px;
        padding-bottom: 0;
    }
    .grid-btn{
        float: right !important;
        display: none;
        margin-left: 8px;
    }
    .product-list-tab-head .main-btn{
        padding: 10px 10px;
    }
    .list-btn{
        display: none;
        float: right !important;
    }
    .sorting-btn{
        width: 50%;
        margin: 0;
        background:transparent; 
    }
    .filter-tab h4{
        width: 75%;
        float: left;
    }
    .filter-close{
        float: right;
        background: transparent;
        border: 2px solid #000;
        padding: 3px 15px;
        margin-top: 10px;
    }
    .price-range-slider{
        margin-top: 25px;
    }
    .ui-widget-header{
        background: #ffffff; 
        background-image: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .products-main-tab{
        padding: 0 15px;
    }
    .product-list-tab-main .product-list-tab-main-inner .col-sm-4{
        width: 50%;
    }
    .product-filter-tab{
      padding-right: 0;
    }

}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .product-list-tab-main-inner .product-tab .product-tab-top{
        height: 43vh;
    }
}