/*left section*/

#product-desc-slider{
	height:600px;
	overflow: hidden;
}

#product-desc-slider .carousel-indicators{
    position: absolute;
    top: 0;
    z-index: 15;
    width: initial;
    padding-left: 0;
    margin-left: 0;
    height: inherit;
    overflow-y: scroll;
    left: 0;
    right: unset;
}

#product-desc-slider .carousel-indicators::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
#product-desc-slider .carousel-inner, #product-desc-slider .carousel-inner .item img{
	height: inherit;
	width: 100%;
}
#product-desc-slider .carousel-inner .item{
	height: inherit;
	width: 100%;
}


#product-desc-slider .carousel-indicators li{
	display: block;
	margin: 0;
	border-radius: 0;
    border: 0;
    overflow:hidden;
	width: 120px;
    height: 120px;
}
#product-desc-slider .carousel-indicators li .thumbnail{
    height: inherit;
    margin: 0;
    padding: 0;
    border-radius: 0px;
}
#product-desc-slider .carousel-indicators .active{
	width: 120px;
    height: 120px;
}
.product-description-main{
	padding: 0 130px;
	margin-top: 70px;
}
.product-description-left{
	width: 54.333333%;
}
.product-description-right{
	width: 45.666667%;
}

.product-description-inner p{
	font-size: 16px;
}
#product-desc-slider .carousel-control{
	width: auto;
	background-image: none;
}
#product-desc-slider a.left{
	right: 60px;
    left: unset;
    bottom: 15px;
    top: unset;
} 
#product-desc-slider a.right{
    right: 15px;
    left: unset;
    bottom: 15px;
    top: unset;	
} 
#product-desc-slider .carousel-control span{
	border-radius: 0px;
    border: 3px solid #333;
    font-size: 10px;
    padding: 7px 10px;
    line-height: 12px;
    color: #333;
}
.carousel-inner .thumbnail-arrow{
	border-radius: 0px;
    border: 3px solid #333;
    font-size: 10px;
    padding: 7px 10px;
    line-height: 12px;
    color: #333;
    position: absolute;
    opacity: 0.5;
}
.carousel-inner .arrow-up{
	top: 15px;
    left: 15px;
    z-index: 1000000;
}
.carousel-inner .arrow-down{
	bottom: 15px;
    left: 15px;
    z-index: 1000000;
}
.carousel-inner .thumbnail-arrow i{	
	text-shadow:0 1px 2px rgba(0,0,0,.6);
}
.carousel-inner .thumbnail-arrow:hover{
	opacity: 0.9;	
}
.carousel-inner .thumbnail-arrow:focus,.carousel-inner .thumbnail-arrow:active{
	outline: none;
	box-shadow: none;
}


/*right section*/
.product-description-right{
	height: 650px;
    padding: 55px 0px 55px 50px;
}
.product-description-right .product_title{
    margin: 0;
    margin-bottom: 15px;
    font-weight: normal;
    color: #000;
}
.product-description-right .product_price{
	font-size: 25px;
    font-weight: 700;
}
.product-description-right .product_desc{
	font-size: 16px;
    margin-bottom: 25px;
	margin-top: 45px;
}



/*color size radio group*/

.color_pick{
    margin-bottom: 25px;
}
.color_pick ul{
    padding-inline-start: 0;
}
.color_pick li{
    list-style: none;
    display: inline;
}
.color_pick li a{
    border: 2px solid #ddd;
    padding: 5px 19px;
    color: #333;
    display: inline-block;
}
.color_pick li a.active{
	background:#f5f5f5;
	background-color: #f5f5f5;
}

.color_pick li a:hover{
	text-decoration: none;
}
.color_pick li p{
	display: inline-block;
	width: 20%;
}

.size_pick{
	margin-bottom: 50px;
}
.size_pick ul{
    padding-inline-start: 0;
}
.size_pick li{
    list-style: none;
    display: inline;
}
.size_pick li p{
	display: inline-block;
	width: 20%;
}
.size_pick li a{
    border: 2px solid #ddd;
    padding: 5px 19px;
    color: #333;
    display: inline-block;
}

.size_pick li a.active{
	background:#f5f5f5;
	background-color: #f5f5f5;
}
.size_pick li a:hover{
	text-decoration:none;
}


/*sku tab*/

.availability-tab div{
	width: 20%;
	padding: 0
}
.availability-tab div.text-left{
	font-weight: 600;
}
.sku-tab div{
	width: 20%;
	padding: 0
}
.sku-tab div.text-left{
	font-weight: 600;
}
.add-cart-btn{
	margin-bottom: 50px;
}
.related-product-tabs-main{
    padding: 0 115px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-description-inner h2{
	margin-bottom: 30px;
}
.product-description-para{
	padding: 0 130px;
    margin-top: 50px;
}


/*media queries*/

@media screen and (max-width: 767px)  {
	.product-description-main{
		padding: 0 30px;
	}
	.product-description-left{
		width: 100%;
		height: auto;
	}
	.product-description-right{
		width: 100%;
		padding: 30px 0px 0px 0px;
		height: auto;
	}
	#product-desc-slider{
		height: 400px;
	}
	#product-desc-slider .carousel-indicators .active {
	    width: 60px;
	    height: 80px;
	}
	#product-desc-slider .carousel-indicators li {
	    width: 60px;
	    height: 80px;
	}
	#product-desc-slider .carousel-control span{
		padding: 3px 5px;
		font-size: 8px;
	}
	#product-desc-slider a.left{
		right: 40px;
		bottom: 10px;
	}
	#product-desc-slider a.right{
		right: 10px;
		bottom: 10px;
	}
	#product-desc-slider .carousel-indicators li .thumbnail{
		width: inherit;
	}
	#product-desc-slider .carousel-indicators li .thumbnail img{
		height: inherit;
		width: inherit;
	}
	.product-description-right .product_desc{
		margin-top: 15px;
	}
	.color_pick li a{
		padding: 5px 8px;
	}
	.size_pick li a{
		padding: 5px 8px;
	}
	.color_pick{
		margin-bottom: 10px;
	}
	.color_pick ul{
		margin-bottom: 0px;
	}
	.size_pick{
		margin-bottom: 30px;
	}
	.add-cart-btn{
		margin-bottom: 30px;
	}
	.product-description-para, .related-product-tabs-main{
		padding: 0 30px;
		margin-top: 10px;
	}
	.related-product-tabs-main .product-tabs-main-head,.related-product-tabs-main .product-tabs-main-tab{
		padding: 0;
	}
	.related-product-tabs-main .product-tabs-main-tab .slider-wrapper .jcarousel ul li{
		padding: 15px 0;
	}
	.related-product-tabs-main .product-tabs-main-tab .slider-wrapper #prev-one{
		left: 0;
	}
	.related-product-tabs-main .product-tabs-main-tab .slider-wrapper #next-one{
		left: 40px;
	}
	.related-product-tabs-main .product-tabs-main-tab .slider-wrapper .more-btn{
		right: 0;
		margin-right: 0;
	}
	.related-product-tabs-main{
		margin-bottom: 80px;
	}
	.product-description-inner h2 {
	    margin-bottom: 30px;
	    border-bottom: 3px solid #ff0000;
	    width: 57%;
	    padding-bottom: 10px;
	}
	.product-tabs-main-head h2{
		padding-bottom: 10px;
		margin-bottom: 15px;
	    border-bottom: 3px solid #ff0000;
	    width: 75%;
	}
	
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
	.product-description-main{
		padding: 0 30px;
		margin-top: 50px;
	}
	.product-description-left{
		width: 100%;
	}
	.product-description-right{
		width: 100%;
		padding-left: 0;
		padding-bottom: 0;
		height: auto;
	}
	#product-desc-slider{
		height: 720px;
	}
	.product-description-para{
		padding: 0 30px;
	}
	.related-product-tabs-main{
		padding: 0 10px;
	}
	.related-product-tabs-main .product-tabs-main-head h2{
		padding-left: 0;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .product-description-left, .product-description-right, .product-description-para , .related-product-tabs-main{
        width: 75%;
        margin-left: 12.5%;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1440px){
	#product-desc-slider .carousel-indicators li{
		width: 130px;
	    height: 130px;
	}
	#product-desc-slider .carousel-indicators .active{
		width: 130px;
	    height: 130px;
	}
	#product-desc-slider{
		padding-left: 128px;
		height: 650px;	
	}
	.product-description-left, .product-description-right{
        width: 50%;
        margin-left: 0%;
    }
     .product-description-para , .related-product-tabs-main{
     	width: 100%;
     	margin-left: 0;
     }
}

@media screen and (min-width: 1441px) and (max-width: 1500px)  {
	#product-desc-slider .carousel-indicators li{
		width: 130px;
	    height: 130px;
	}
	#product-desc-slider .carousel-indicators .active{
		width: 130px;
	    height: 130px;
	}
	#product-desc-slider{
		padding-left: 128px;
		height: 650px;	
	}
}

@media screen and (min-width: 1500px)  {
	#product-desc-slider .carousel-indicators li{
		width: 140px;
	    height: 140px;
	}

	#product-desc-slider .carousel-indicators .active{
		width: 140px;
	    height: 140px;
	}
	#product-desc-slider{
		height: 700px;	
		padding-left: 138px;
	}
}