html,body,h1,h2,h3,h4,h5,h6,span,a,div,p,section,input,select,.form-control,textarea{
	font-family: 'Montserrat', sans-serif;
}
.inline{
	display: inline-block !important;
	float: left;
}
.mar-t-30{
	margin-top: 30px;
}
.mar-t-25{
	margin-top: 25px;
}
.anchor-btn{
	font-weight: 700;
}
.tab-pills{
	display: inline-flex;
    align-items: center;
    padding: 5px 5px 5px 15px; 
}
.tab-pills button.close{
	margin-left: 15px;
    padding: 0;
    line-height: 0;
    height: 18px;
}
.form-control-label{
 	color: #000;   
}

/*sidebar*/
.bg-black{
	background: #66615b;
    background: -webkit-linear-gradient(#66615b,#000 80%);
    background: linear-gradient(#66615b,#000 80%);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.7);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #ffffff;
}
.sub-menu{
	padding-inline-start: 20px;
	display: none;
}
.sub-menu .nav-item{
	list-style-type: none;
}

.sub-menu .nav-item a{
	font-size: 12px !important;
}
.navbar-vertical .navbar-nav .nav-link{
	display: block;
	cursor: pointer;
	text-align: left;
}
.navbar-vertical .navbar-nav .nav-link .fa-caret-down{
	float: right;
}
.navbar-vertical .navbar-nav .nav-link .fa-caret-right{
	float: right;
}
/*navbar*/
.navbar-dark .navbar-nav .nav-link {
    color: #66615b;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
}
.main-content .navbar-top{
	position: relative;
}
#navbar-main div.container-fluid{
	text-align: right;
    display: block;
}
#navbar-main div.container-fluid .navbar-nav{
    float: right;
    display: block;
    position: relative;
}

.no-pad-lr{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.no-pad-l{
	padding-left: 0px !important;
}
.no-pad-r{
	padding-right: 0px !important;
}
.pad-r-15{
	padding-right: 15px;
}
.user-filter-card .form-group .input-group{
	width: 100%;
}
.user-filter-card-main{
	margin-bottom: 25px;
}
.user-filter-card{
	padding: 2.25rem 1.5rem;
}


/*index css*/
.user-list-table span, .user-list-table th{
	white-space: pre-line;
}
.user-list-table th , .user-list-table td{
	padding-right: 4px !important;
    padding-left: 15px !important;
}


table.table span, table.table th{
	white-space: normal;
}
table.table th , table.table td{
	padding-right: 8px !important;
    padding-left: 8px !important;
}







@media screen and (min-width: 768px){
	/*sidebar*/
	.navbar-vertical.navbar-expand-md .navbar-brand-img {
	    max-height: 4.5rem;
	}

	/*navbar*/

}

@media screen and (max-width: 768px){
    .navbar-light .navbar-toggler-icon{
        background-image: url('../images/mobile-menu.png');
    }
}