.view-products-table{
	height: 70vh;
}
.variant-table-row{
	display: none;
}

/*product detail page*/

.product-deatils-main{
	margin-bottom: 80px;
}

.product-details-card .table td, .product-details-card .table th{
	padding: 5px;
	border:0;
	vertical-align: middle;
	display: inline-block;
}
.product-details-card .table th h5{
	margin-bottom: 0px;
}
.product-details-card .card-body{
	padding-top: 0px;
}
.product-details-card .table td p{
	margin-bottom: 0px;
}
#product-deatils-slider{
    height: 526px;
    overflow: hidden;
    margin-bottom: 30px;
    border: 3px solid #DDD;
}
#product-deatils-slider .carousel-inner{
	height: inherit;
}
#product-deatils-slider .carousel-inner .carousel-item{
	height: inherit;
}
#product-deatils-slider .carousel-inner .carousel-item img{
	height: inherit;
}
#product-deatils-slider .carousel-control-next{
	color: #333;
}
#product-deatils-slider .carousel-control-prev{
	color: #333;
}
.product-desc-head, .more-detail-head{
	font-size: 18px;
}

/*product varient detail*/

.product-varient--detail .table td, .product-varient--detail .table th{
    padding: 5px;
    border: 0;
    vertical-align: middle;
}

/*edit product */

.tab-pills-div{
	line-height: 1.5;
    display: block;
    width: 100%;
    padding: .625rem .75rem;
    transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
}

.tab-pills-div .tab-pills{
	display: inline-flex;
    padding: 5px 5px 5px 15px;
    align-items: center;
}
.borderless{
	border:0px;
}
.borderless:focus,.borderless:active,.borderless:hover{
	outline: none;
}


/*update-product-status modal*/

#update-product-status .modal-title{
	width: 100%;
	text-align: center;
}
#update-product-status .modal-footer button{
	width: 30%;
	margin: auto; 
}
#update-product-status .modal-body .form-group .form-control-label{
	width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
#update-product-status .modal-body{
    margin-bottom: 0;
    padding-bottom: 15px;
}


/*product images*/

.upload-main{
    height: 100px;
    padding: 15px 0;
    width: calc(100% - 50px);
    margin-left: 25px;
}
.upload-form{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px dashed #1a1a1a;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
}
.upload-form p{
    width: 100%;
    cursor: pointer;
    color: #000;
    text-align: center;
    margin: auto;
}
.upload-form input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  opacity: 0;
}
.upload-form button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}
.upload-form button:hover{
  background: #149174;
  color: #0C5645;
}
.upload-form button:active{
  border:0;
}


.uploaded-images{
    margin-top: 30px;
    padding: 0 25px;
}
.uploaded-images-tabs{
	padding: 0;
	width: 19.66667%;
	max-width: 19.66667%;
	height: 250px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    padding-right: 0;
}
.uploaded-images-tabs img{
    height: inherit;
    padding: 5px;
    border: 3px solid #ddd;
    width: 100%;
}
.uploaded-images-tabs:hover > .uploaded-images-tabs-overlay{
    display: block;
}

.uploaded-images-tabs-overlay{
    height: inherit;
    position: absolute;
    display: none;
    top: 0;
    background: rgba(0,0,0,0.6);
    padding-top: 80px;
    text-align: center;
    width: 100%;
}
.uploaded-images-tabs-overlay button{
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto !important;
}
.uploaded-images-tabs-overlay button:hover,.uploaded-images-tabs-overlay button:active,.uploaded-images-tabs-overlay button:focus{
    box-shadow: 0px 2px 10px 0px #000;
    outline: none;
}


/*end*/

/*update-product-varient status modal*/

#update-variant-quantity .modal-title{
	width: 100%;
	text-align: center;
}
#update-variant-quantity .modal-footer button{
	width: 30%;
	margin: auto; 
}
#update-variant-quantity .modal-body .form-group .form-control-label{
	width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
#update-variant-quantity .modal-body{
    margin-bottom: 0;
    padding-bottom: 15px;
}


/*update-varient quantity modal*/

#update-variant-quantity .modal-title{
	width: 100%;
	text-align: center;
}
#update-variant-quantity .modal-footer button{
	width: 30%;
	margin: auto; 
}
#update-variant-quantity .modal-body .form-group .form-control-label{
	width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
#update-variant-quantity .modal-body{
    margin-bottom: 0;
    padding-bottom: 15px;
}


/*update-varient-status modal*/

#update-variant-status .modal-title{
	width: 100%;
	text-align: center;
}
#update-variant-status .modal-footer button{
	width: 30%;
	margin: auto; 
}
#update-variant-status .modal-body .form-group .form-control-label{
	width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
#update-variant-status .modal-body{
    margin-bottom: 0;
    padding-bottom: 15px;
}
.view-product-table span, .view-product-table th{
    white-space: pre-line;
}
.view-product-table th , .view-product-table td{
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.view-product-table tbody tr:first-child td, .view-product-table tbody tr:first-child th{
}
