.view-products-table{
	height: 70vh;
}


/*view order modal*/
#order-detail-modal .modal-dialog{
	max-width: 62%;
}

#order-detail-modal .modal-title{
	width: 100%;
	text-align: center;
}
#order-detail-modal .modal-footer button{
	width: 30%;
	margin: auto; 
}
#order-detail-modal .modal-body .form-group .form-control-label{
	width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
#order-detail-modal .modal-body{
    margin-bottom: 0;
    padding-bottom: 15px;
}

.billing-address-card .card-header p{
	margin-bottom: 0px;
}
.order-select select{
	width: 22%;
	color: #000;
	margin-left: 10px;
}
.view-order-table span, .view-order-table th{
	white-space: pre-line;
}
.view-order-table th , .view-order-table td{
	padding-right: 15px !important;
    padding-left: 15px !important;
}

